{% extends "base/base.html" %} {% block content %}
<!-- component -->

<a type="button"
  title="Agregar Nuevos Clientes"
  class="border btn btn-dark"
  href="{% url 'AddClientes' %}">
  <i class="bi bi-person-plus-fill"></i>
</a>

<table class="table datatable">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cliente</th>
      <th scope="col">Documento</th>
      <th scope="col">Fecha de Nacimiento</th>
      <th scope="col">sexo</th>
      <th scope="col">tipo</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for client in cliente %}
    <tr>
      <td>{{client.id}}</td>
      <td>
        <div>
          <div>
            <div>{{client.nombre}}</div>
            <div>{{client.apellido}}</div>
          </div>
        </div>
      </td>
      <td>{{client.NumDocumento}}</td>
      <td>{{client.fecha_Nac}}</td>
      <td>{{client.sexo}}</td>
      <td>
        <span>{{client.tipo}}</span>
      </td>
      <td>
        <a href="{% url 'ClientDetail' client.id %}">
          <span class="bx bxs-user-detail"></span>
        </a>
        <a href="{% url 'UpdateClient' client.id %}">
          <span class="bx bxs-edit"></span>
        </a>
        <a href="{% url 'RemoveClient' client.id %}">
          <i class="bx bxs-trash-alt"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
