{% extends "base/base.html" %} 

{% load static %}

{% block content %}
    <h2>Detalles del Cliente</h2>
    <p>ID: {{cita.id}}</p>
    <p>Nombre_Persona: {{cita.Nombre_Persona}}</p>
    <p>fecha: {{cita.fecha}}</p>
    <p>motivo: {{cita.motivo}}</p>
    <p>Descripcion: {{cita.Descripcion}}</p>
    <p>user: {{cita.user}}</p>
    <p>tipo: {{cita.tipo}}</p>
    <!-- mostraer el nombre del cliente o los clientes usando la relacion con la tabla clientes -->
    <ul>
        {% for cliente in cita.id_cliente.all %}
            <li>{{cliente.nombre}}</li>
        {% endfor %}
    </ul>
    <!-- <p>id_cliente: {{cita.id_cliente}}</p> -->

{% endblock %}