{% extends "base/base.html" %}
<!-- {% load static %} -->

{% block content %}
<!-- <head>
    <link rel="stylesheet" href="{% static 'citas/css/citas.css' %}">
</head> -->
<a
type="button"
title="Agregar Nuevos Usuarios"
class="border btn btn-dark" href="{% url 'AddCita' %}">
<i class="bi bi-person-plus-fill"></i>
</a>

<table class="table datatable">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">CLIENTE</th>
            <th scope="col">DESCRIPCION</th>
            <th scope="col">FECHA</th>
            <th scope="col">MOTIVO</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cita in citas %}
        <tr>
            <td>{{cita.id}}</td>
            <!-- traer el nombre de el cliente con la relacion de id_cliente -->
            <td>{{cita.Nombre_Persona}}</td>
            <td>{{cita.Descripcion}}</td>
            <td>{{cita.fecha}}</td>
            <td>{{cita.motivo}}</td>
            <td>
                    <a href="{% url 'CitaDetail' cita.id %}">
                        <i class="bx bxs-user-detail"></i>
                    </a>
                    <a href="{% url 'CitaUpdate' cita.id %}">
                        <i class="bx bxs-edit"></i>
                    </a>
                    <a href="{% url 'CitaRemove' cita.id %}">
                        <i class="bx bxs-trash-alt"></i>
                    </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock  %}