{% extends "base/base.html" %} {% block content %}
<!-- component -->
<a type="button"
  title="Agregar Nuevos Usuarios"
  class="border btn btn-dark"
  href="{% url 'NewUsuario' %}">
  <i class="bi bi-person-plus-fill"></i>
</a>

<h1>USUARIOS</h1>

<table class="table datatable">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">USERNAME</th>
      <th scope="col">EMAIL</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">APELLIDO</th>
      <th scope="col">ACCIONES</th>
    </tr>
  </thead>
  <tbody>
    {% for usuario in usuarios %}
    <tr>
      <th scope="row">{{ usuario.id }}</th>
      <td>{{ usuario.username }}</td>
      <td>{{ usuario.email }}</td>
      <td>{{ usuario.first_name }}</td>
      <td>{{ usuario.last_name }}</td>
      <td>
        <a
          type="button"
          title="Editar Usuario"
          class="border btn btn-dark"
          href="{% url 'UpdateUsuario' id=usuario.id %}">
          <i class="bi bi-pencil-square"></i>
        </a>
        <a
          type="button"
          title="Eliminar Usuario"
          class="border btn btn-dark"
          href="{% url 'RemoveUsuario' id=usuario.id %}">
          <i class="bi bi-trash-fill"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

{% endblock %}